/* Global Layout */
.landing-page {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--color-cream);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #1d2b3a;
}


/* Navbar */
.navbar-custom {
  background: #1d2b3a; /* match hero overlay */
  /* padding: 1rem 2rem; */
  margin: 0;
  width: 100vw;
  border-bottom: none;
  backdrop-filter: blur(6px);
}


.register-btn {
  color: #1a5f7a !important; /* changed color */
  background: #c7e0f0;        /* button background */
  font-size: 0.85rem;         /* smaller text */
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: 600;
  transition: background 0.3s ease, color 0.3s ease;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.register-btn:hover {
  background: #01161e;
  color: #fff !important;
}

/* Hero Section */
.hero-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
  text-align: center;
  padding: 80px 20px;
}



.hero-content {
  position: relative;
  z-index: 2;
  max-width: 560px;
  background: rgba(0, 21, 36, 0.8);
  padding: 35px 30px;
  border-radius: 18px;
  box-shadow: 0 24px 50px rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(255, 236, 209, 0.2);
}

.hero-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 12px;
  color: var(--color-cream);
}

.hero-tagline {
  font-size: 1rem;
  color: rgba(255, 236, 209, 0.85);
  margin-bottom: 20px;
}

.hero-btn {
  background: #becddd;
  border: none;
  padding: 8px 20px;
  font-size: 0.95rem;
  border-radius: 6px;
  color: #01161e;
}

.hero-btn:hover {
  background: #01161e;
}

/* About Section */
.about-section {
  background:#001219;
  padding: 60px 20px;
  text-align: center;
  color: var(--color-cream);
}

.about-section h2 {
  font-weight: 600;
  margin-bottom: 18px;
  font-size: 1.4rem;
}

.about-section p {
  color: rgba(255, 236, 209, 0.9);
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1rem;
}
